<div class="container">


    <div class="row mb-3">
        <div class="col ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <div style="vertical-align: inherit;">
                            <h1 class="title" style="vertical-align: inherit;">TITLE 1</h1>
                            <p class=" titulo2 mb-5 ">BEST VALUE MEMBERSHIP! <i class=" ml-4 fal fa-gem"></i></p>
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="mr-5 titulobody">Platinum Membership Benefits:</h6>
                    <ul class="mb-4">
                        <li>
                            <small style="font-weight: bold;" class="servicios">
                          45 Workshops included
                      </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                          Value at $52,00
                      </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                          Platinum-Virtual Training
                      </small>
                        </li>
                        <li>
                            <div class="mt-1 servicios">
                                Hands-Om Live Patient Training Courses in
                                <small style="font-weight: bold;"><br> Aesthetics
                            <br> Anti-Aging Pain<br> Management and more
                          </small>
                            </div>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                          Advanced Courcess included
                      </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                          expert Physician Instructors
                      </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                          Access to Special Events
                      </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                          CME and Certificate
                      </small>
                        </li>
                        <li>
                            <small class="mt-1 ml-5 servicios">
                          Diamond Benefits- too many to list here.
                      </small>
                        </li>

                        <li>
                            <p>limited time During Covid-19 Crisis!</p>
                            <small>Price Increase to $6,999</small> Receive credit on tuition already paid on Virtual training!
                        </li>
                    </ul>



                    <button type="button" style="background-color: #3c4796; color: white; border-radius: 0;" class="btn"><div style="vertical-align: inherit; "><div style="vertical-align: inherit; font-weight: bold;">COMPANY SIGN UP FOR: <br><small>
                PLATINUM-DIAMOND-MEMBERSHIP
              </small>
              </div></div></button>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <div style="vertical-align: inherit;">
                            <h1 class="title" style="vertical-align: inherit;">TITLE 2</h1>
                            <p class=" titulo2 mb-5 ">MOST ECONOMICAL PLAN!<i class=" ml-4 fal fa-gem"></i></p>
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="mr-5 titulobody">Platinum Membership Benefits:</h6>
                    <ul class="mb-4">
                        <li><small style="font-weight: bold;" class="servicios">45 Workshops included</small></li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                                35 Workshops included
                            </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                                Value at $44,795
                            </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                                Platinum-Virtual Training
                            </small>
                        </li>
                        <li>
                            <div class="mt-1 servicios">
                                Hands-Om Live Patient Training Courses in
                                <small style="font-weight: bold;"><br> Aesthetics
                                  <br> Anti-Aging Pain<br> Management and more
                                </small>
                            </div>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                                Expert Physicinal Intructors
                            </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                                All Materials, Supplies, medicines: Botox and Fillers, FREE.
                            </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                                CME and Certificate
                            </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                                Platinum Benefits-too many to list here
                            </small>
                        </li>

                        <li>
                            <p>limited time During Covid-19 Crisis!</p>
                            <small>Price Increase to $4,999</small> Receive credit on tuition already paid on Virtual training!
                        </li>
                    </ul>


                    <button type="button" style="background-color: #3c4796; color: white; border-radius: 0;" class="btn"><div style="vertical-align: inherit; "><div style="vertical-align: inherit; font-weight: bold;">COMPANY SIGN UP FOR: <br><small>
                      PLATINUM-PLATINUM-MEMBERSHIP
                    </small>
                    </div></div></button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="  card mb-4 shadow-sm ">
                <div class="card-header ">
                    <h4 class=" my-0 font-weight-normal ">
                        <div style="vertical-align: inherit; ">
                            <h1 class="title " style="vertical-align: inherit; ">TITLE 3</h1>
                            <p class=" titulo3 mb-5 mr-5 ">FOR DENTISTS AND ORAL SURGEONS! <i class="ml-4 fal fa-tooth"></i></p>
                        </div>
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="mr-5 titulobody">Platinum Membership Benefits:</h6>
                    <ul class="mb-4">
                        <li>
                            <small style="font-weight: bold;" class="servicios">
                            35 Workshops included
                        </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                            Valued at $45,000
                        </small>
                        </li>
                        <li>
                            <small style="font-weight: bold;" class="mt-1 servicios">
                            Platinum-Virtual Training
                        </small>
                        </li>
                        <li>
                            <div class="mt-1 servicios">
                                Hands-Om Live Patient Training Courses in
                                <small style="font-weight: bold;"><br> Aesthetics
                              <br> Anti-Aging Pain<br> Management and more
                            </small>
                            </div>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                            Expert Physician Instructors
                        </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                            PACE Accredited courses
                        </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                            CME and certificate
                        </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                            Dental 'D' Benefits-too many to list here
                        </small>
                        </li>
                        <li>
                            <small class="mt-1 servicios">
                            Dental 'D' Benefits-too many to list here
                        </small>
                        </li>

                        <li>
                            <p>limited time During Covid-19 Crisis!</p>
                            <small>Price Increase to $4,999</small> Receive credit on tuition already paid on Virtual training!
                        </li>
                    </ul>
                    <button type="button" style="background-color: #3c4796; color: white; border-radius: 0;" class="btn"><div style="vertical-align: inherit; "><div style="vertical-align: inherit; font-weight: bold;">COMPANY SIGN UP FOR: <br><small>
                  PLATINUM-DENTAL'D'-MEMBERSHIP
                </small>
                </div></div></button>
                </div>
            </div>
        </div>

    </div>
</div>
